body{margin:0;padding:0;font-family;arial;}
@font-face {
	font-family: 'VerelaRound';
	src: url('VarelaRound-Regular.eot'); 
	src: url('VarelaRound-Regular.eot?#iefix') format('embedded-opentype'),
	   
	     url('VarelaRound-Regular.ttf')  format('truetype'), 
	     url('VarelaRound-Regular.svg#svgFontName') format('svg');
}
@font-face {
	font-family: 'Lato';
	src: url('Lato-Bold.ttf');
}
*{-moz-box-sizing:border-box;-webkit-box-sizing:border-box;margin:0;padding:0;}
a{text-decoration:none;outline:none;}
ul,ul li{list-style:none;margin:0;padding:0}
.wrapper{float:left;width:100%;}
.header{position:relative;background:url(../img/bghead.jpg) no-repeat center center;height:800px;width:100%;background-size:cover;-moz-background-size:cover;filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='.myBackground.jpg', sizingMethod='scale');
-ms-filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='myBackground.jpg', sizingMethod='scale')";}

.ptBg{background:url(../img/pattern.png) repeat;width:100%;height:100%;}
.abt-cont{float:left;width:100%;position:absolute;top:50%;text-align:center;margin-top:-120px}
.abt-cont h1{font-size:36px;color:#fff;margin:0 0 10px 0;font-family:'Lato';}
.abt-cont p{color: #FFFFFF;font-size: 19px;margin: 0 0 30px;text-align: center;font-family:'VerelaRound';}
.btn{text-decoration:none;color:#F24971;padding:14px 24px;border:5px solid #F24971;outline:none;text-transform:uppercase;border-radius:10px;transition:all 200ms linear;-moz-transition:all 200ms linear;font-weight:bold;font-family:'VerelaRound';}
.btn:hover{background:#F24971;color:#FFF;transition:all 200ms linear;-moz-transition:all 200ms linear;}

.aboutMe{float:left;width:100%;height:100%;position:relative;}
.aboutMe h2{color:#333;font-size:36px;text-align:center;font-weight:bold;padding:10% 0 0 0;font-family: 'Lato';}
span.brBtm{border-bottom: 10px solid #F24971;display: block;margin: 0 auto;padding-top: 10px;width: 4%;}
.abtMe-cont{float:left;width:100%;padding:5% 15% 5% 15%;}
.cont-lft{float:left;width:50%;}
.cont-lft .cont-img{float:left;width:30%}
.cont-img-lft{float:left;width:70%}
.cont-img-lft p{font-size:16px;line-height:20px;margin-bottom:50px;text-align:justify;font-family:'VerelaRound';}
.cont-img-lft a.btn{color:#F24971;font-family: 'Lato';}
.cont-img-lft a.btn:hover{color:#fff}
.col-rgt{float:right;width:45%;}
.com-range{float:left;width:100%;position:relative;padding-bottom:30px;}
.com-range p{border-bottom:8px solid #DADFE1;padding-bottom:10px;position:relative;top:-9px;font-family:'VerelaRound';}
.com-range span{position:absolute;top:-19px;right:3%;background:#1D1D1D;padding:5px 20px 5px 20px;color:#fff;border-radius:5px;-moz-border-radius:5px}
.com-range span:before{content:"";border-top:10px solid #1D1D1D;border-left:9px solid transparent;border-right:10px solid transparent;position:absolute;top:30px;left:25px}
.linear{border:none !important;animation: myfun 5s infinite;-moz-animation: myfun 10s infinite;-webkit-animation: myfun 10s infinite;}
@keyframes myfun{
from{background:#F24971;position:relative;top:-18px;width:0%}
to{background:#F24971;position:relative;top:-18px;width:89%}
}
@-moz-keyframes myfun{
from{background:#F24971;position:relative;top:-18px;width:0%}
to{background:#F24971;position:relative;top:-18px;width:89%}
} 	
@-webkit-keyframes myfun{
from{background:#F24971;position:relative;top:-18px;width:0%}
to{background:#F24971;position:relative;top:-18px;width:89%}
} 

.linearJava{animation: myfun1 10s infinite;-moz-animation: myfun1 10s infinite;-webkit-animation: myfun1 10s infinite;}

@keyframes myfun1{
from{background:#F24971;position:relative;top:-18px;width:0%}
to{background:#F24971;position:relative;top:-18px;width:60%}
}
@-moz-keyframes myfun1{
from{background:#F24971;position:relative;top:-18px;width:0%}
to{background:#F24971;position:relative;top:-18px;width:60%}
} 
@-webkit-keyframes myfun1{
from{background:#F24971;position:relative;top:-18px;width:0%}
to{background:#F24971;position:relative;top:-18px;width:60%}
} 

.linearTxt.linearRgt{right:32%}

.linearJquery{animation: myfun2 10s infinite;-moz-animation: myfun2 10s infinite;-webkit-animation: myfun2 10s infinite;}

@keyframes myfun2{
from{background:#F24971;position:relative;top:-18px;width:0%}
to{background:#F24971;position:relative;top:-18px;width:80%}
}
@-moz-keyframes myfun2{
from{background:#F24971;position:relative;top:-18px;width:0%}
to{background:#F24971;position:relative;top:-18px;width:80%}
} 
@-webkit-keyframes myfun2{
from{background:#F24971;position:relative;top:-18px;width:0%}
to{background:#F24971;position:relative;top:-18px;width:80%}
}
.linearTxt.linearRgtJqu{right:12%}

.linearBoot{animation: myfun3 10s infinite;-moz-animation: myfun3 10s infinite;-webkit-animation: myfun3 10s infinite;}

@keyframes myfun3{
from{background:#F24971;position:relative;top:-18px;width:0%}
to{background:#F24971;position:relative;top:-18px;width:40%}
}
@-moz-keyframes myfun3{
from{background:#F24971;position:relative;top:-18px;width:0%}
to{background:#F24971;position:relative;top:-18px;width:40%}
} 
@-webkit-keyframes myfun3{
from{background:#F24971;position:relative;top:-18px;width:0%}
to{background:#F24971;position:relative;top:-18px;width:40%}
} 
.linearTxt.linearRgtboot{right:52%}

.cont-img img{border-radius:50%;-moz-border-radius:50%;border:1px solid #d1d1d1;padding:5px;width:130px}

.gallery{float:left;width:100%;height:100%;position:relative;}
.gallery h2{color:#333;font-size:36px;text-align:center;font-weight:bold;padding:10% 0 0 0;font-family: 'Lato';}
.gallFilter{float:left;width:100%;padding:0 15%;}
.gallFilter ul{margin:0 auto;width:100%;}
.gallery ul li{list-style:none;float:left;width:10%;text-align:center;cursor:pointer;font-family:'VerelaRound';}

.galery-sec{float:left;width:100%;padding:0 0 0 15%}
.galery-sec a{display:block;float: left;margin: 0 15px 0 0;padding: 15px 0 0 0;width: 250px;}
.galery-sec a img{width:250px;padding:5px;background:#fff;border:1px solid #ccc;height:300px}

.touch{float:left;width:100%;height:100%;position:relative;}
.touch h2{color:#333;font-size:36px;text-align:center;font-weight:bold;padding:10% 0 0 0;font-family: 'Lato';}

.infoCont{float:left;width:100%;padding:8% 0 12% 0}	
.secInfo{float:left;width:25%;text-align:center}
.secInfo p{font-family: 'VerelaRound';}

.secInfo span {
    border: 4px solid #7A7A7A;
    border-radius: 100% 100% 100% 100%;
    font-size: 36px;
    height: 60px;
    line-height: 53px;
    margin-bottom: 20px;
    text-align: center;
    width: 60px;
}
.fa{color:#7A7A7A}

.footer{float:left;width:100%;background:#1D2127}
.foot-wrap{width:80%;margin:0 auto;padding:30px}
.foot-wrap p{color:#fff;float:left;width:45%;font-family: 'VerelaRound';}
.social-icon{float:right;width:24%;}

.social-icon ul li {
    float: left;
    margin-right: 25px;
    width: auto;
}
.social-icon ul li a i{color:#F24971}
.social-icon ul li a i:hover{color:#7A7A7A}
 
.nav-cont{position:fixed;float:left;width:100%;background:#1D2127;z-index:9999}
.nav{position:relative;z-index:1;}
nav{float:right;width:40%}
nav ul li  a{color:#fff;float:left;width:25%;text-align:center;padding:20px;font-family:'VerelaRound';}
nav ul li a:hover{background:#34383D;border-bottom:8px solid #F24971;padding-bottom:12px;}
.main-nav{display:none;}
.nav  p{color: #FFFFFF;float: left;padding: 18px;text-align: center;width: 15%;font-family:'VerelaRound';background:#F24971;cursor:pointer;font-size:20px;} 

@media screen and (-webkit-min-device-pixel-ratio:0) {
.com-range span{top: -17px;}
.com-range span:before{top: 28px;}
}


@media only screen and (min-width:600px) and (max-width:1023px)
{

.nav.navbar-nav p {
    padding: 3%;
    width: auto;
}
nav {
    float: right;
    width: 65%;
}

.cont-lft {
    width: 100%;
}

.cont-lft .cont-img {margin: 0 auto;width: 31%;float:none;}
.cont-img-lft {padding-top: 15px;width: 100%;}
.col-rgt {padding-top: 13%;width: 100%;}
.gallery ul li{width:auto;padding-right:5%}
.col-rgt {padding-top: 13%;width: 100%;}
.gallery ul li{width:auto;padding-right:5%}
/* .galery-sec{padding-left:8%} */
.secInfo{width:50%;padding-bottom:8%}
.foot-wrap{width:95%;padding:30px 30px 7%}
.foot-wrap p{width:auto;}
.social-icon {float: right;width: auto;}

}


@media only screen and (max-width:599px)
{
.nav-cont.main-nav {
    opacity: 0 !important;
}
.abtMe-cont{padding: 5%;}
.cont-lft {
    width: 100%;
	padding-bottom: 12%;
}
.cont-lft .cont-img{float:none;margin: 0 auto;width:47%;text-align: center;padding-bottom: 3%;}
.cont-img-lft {
    width: 100%;
}
.col-rgt {
    width: 100%;
}
.gallery ul li{width:auto;padding-right:5%}
.galery-sec{padding-left:30%}

.secInfo {
    padding-bottom: 5%;
    width: 100%;
}
.foot-wrap p {
    width: 100%;
}
.social-icon {
    padding-top: 5%;
    width: 100%;
	padding-bottom: 5%;
}
.foot-wrap{width:100%}
.galery-sec {
    float: none;
    margin: 0 auto;
    padding-left: 0;
    width: auto;
	display:inline-block;
	text-align:center;
}
.galery-sec a{float: none;display: inline-block;margin:0}
}